#sheetSettings {
    margin-top: -20px;
}

#fontPreview {
    position: relative;
}

#fontLoaded {
    color: #1a9e00;
    margin-bottom: 5px;
}

.webFontPreLoad {
    display: none;
}

#fontPreviewBackBuffer {
    display: none;
}

.fontScroll {
    overflow: scroll;
}

#fontBack {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: normal;
    white-space: nowrap;
}

#fontFront {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: normal;
    white-space: nowrap;
}