#sheetSettings {
    margin-top: -20px;
}

#fontPreview {
    line-height: normal;
}

#fontLoaded {
    color: #1a9e00;
    margin-bottom: 5px;
}

.webFontPreLoad {
    display: none;
}

#fontPreviewBackBuffer {
    display: none;
}

#fontCanvasScroll {
    overflow: scroll;
}